* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

@font-face {
    src: url(font/gta-fonte.ttf);
    font-family: 'gta';
}

@font-face {
    src: url(font/gta2.ttf);
    font-family: 'gta2';
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 450px;
    background-color: rgba(150, 150, 150, .8);
    display: none;
    border-radius: 4px;
}

#topo {
    padding: 2.5px;
    background-image: linear-gradient(to bottom right,rgba(200,0,0,.8), rgba(121, 6, 6,.8));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#kit-title {
    color: white;
    font-size: 2.4em;
    text-align: center;
    font-family: 'gta';
}

.tudo {
    padding: 5px;
}

.tudo ul {
    list-style: none;
}

.tudo ul li {
    text-align: center;
    font-family: 'gta2';
    font-size: 1.2em;
    color: white;
    margin-bottom: 1.5px;
}

#lateral-title {
    margin-bottom: 8px;
    font-family: 'gta';
    font-size: 1.4em;
}

.meio {
    overflow: auto;
    height: 400px;
}

.area {
    display: block;
    background-color: rgba(120, 120, 120, .8);
    float: right;
    width: 750px;
 }
 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 220px;
    display: inline-block;
    margin: 13.6718px;
    background-color: rgba(250, 250, 250, .7);
    font-family: 'gta2';
  }

  .title_job {
      text-align: center;
      font-weight: 600;
      font-weight: bold;
      font-style: italic;
      font-size: 0.8em;
      margin: 0;
  }

  .descript {
    padding: 3px;
    font-size: 1em;
    font-family: 'gta2';
  }

  .botao {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .texto_job {
      text-align: center;
      color: black;
      margin-bottom: 12px;
      padding: 5px;
      font-size: 0.8em;
      background-color: rgba(230,230, 230, .8);
      border-radius: 4px;
      cursor: pointer;
      transition: .5s;
      font-family: "gta2";
      font-size: 1.3em;
  }

  .texto_job:hover {
    background-color: rgba(180, 180, 180, .7);
      color: black;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  ::-webkit-scrollbar              {
      width: 5px;
  }

  ::-webkit-scrollbar-track-piece {
      background-color: rgba(180,180 ,180,.8);
  }

  ::-webkit-scrollbar-thumb{
      background-color: rgb(130, 10, 10);
      border-radius: 3px;
}

#close {
    color: white;
    position: absolute;
    top: 2.5%;
    right: 2%;
    cursor: pointer;
    font-size: 1.3em;
}